html {scroll-behavior:smooth;}

.hero {
    background-image: url(/assets/poly-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.hero .title {
font-family: 'Mandali', sans-serif;
}

.footer .icon {
    font-size: 24px;
}

#skills .tile img {max-height:140px; text-align:center;}
#skills .tile {text-align:center;}

#reviews .checked {color:orange;}
#reviews .wrapper {
    height: 200px;
    width: 632px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }
  
  #reviews .button-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
  }
  
  #reviews .carousel {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease;
  }
  
  #reviews .card {
    background: black;
    min-width: 200px;
    height: 200px;
    margin-right: 1rem;
    display: inline-block;
  }
