<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CoryHarkins.Com</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">	
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
<nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://www.coryharkins.com">
      <span class="subtitle">CoryHarkins.com</span>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <a class="navbar-item" href="#portfolio">
        Portfolio
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="#about">
            About
          </a>	
          <a class="navbar-item" href="#jobs">
            Jobs
          </a>
	  <a class="navbar-item" href="#skills">
            Skills
          </a>
          <a class="navbar-item" href="#contact">
            Contact
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Not Your Average Full Stack Guy
      </h1>
      <h2 class="subtitle">
        Full Stack Developer currently living south of Atlanta. Always down for remote work.
      </h2>
      <a class="button is-primary is-inverted is-outlined">I need a website</a>
      <a class="button is-danger is-inverted is-outlined">I am looking to hire</a>
    </div>
  </div>
</section>
	
<div id="portfolio" class="vue-el">
   <section id="#Portfolio" class="section">
      <div class="container">
         <h1 class="title is-1">Projects</h1>
         <nav class="panel">
            <p>
               <a class="button" :class="[ project_type === 'all' ? 'is-primary is-active' : '']" @click="filter_projectType('all')">all</a>
               <a class="button" :class="[ project_type === 'front_end' ? 'is-primary is-active' : '']" @click="filter_projectType('front_end')">front end</a>
               <a class="button" :class="[ project_type === 'back_end' ? 'is-primary is-active' : '']" @click="filter_projectType('back_end')">back end</a>
               <a class="button" :class="[ project_type === 'full_stack' ? 'is-primary is-active' : '']" @click="filter_projectType('full_stack')">full stack</a>
            </p>
         </nav>
         <portfolio-item
            v-for="item in items"
            v-bind:key="item.id"
            v-bind:item="item"
            v-if="(item.project_type === project_type) || (project_type === 'all')"
            ></portfolio-item>
      </div>
   </section>
</div>

<section id="about" class="section">
	<div class="container">
	<h1 class="title is-1">About</h1>
	<p class="subtitle">Hey... I'm human too.</p>
	</div>
</section>
	
<section id="#jobs" class="section">
  <div class="container">
    <h1 class="title is-1">Jobs</h1>
    <article class="message is-primary">
      <div class="message-header">
        <p>PSM Marketing</p>
      </div>
      <div class="message-body">
        <p class="is-1"><strong>Senior Full Stack Developer</strong></p>
        <p class="is-1">March 2018 - Current</p>
        Developing features and bug fixes on a customized CMS & IMS that is used by hundreds of clients on a dialy basis. Maintain/Update sql database tables, stored procedures. Develop client side features and updates to create better workflows and improve ease of use. Worked closely with client specifications from companies like Harley-Davidson, eLeads, WantFacts, etc.
      </div>
    </article>
    <article class="message is-primary">
      <div class="message-header">
        <p>The Jumprope Dudes</p>
      </div>
      <div class="message-body">
        <p class="is-1"><strong>Contracted Squarespace Developer</strong></p>
        <p class="is-1">December 2018 - March 2019</p>
        Updated site layout, added new content, updated seo related content. Created a Macro Calculator using jquery, html, css.
      </div>
    </article>
    <article class="message is-primary">
      <div class="message-header">
        <p>Try Treats</p>
      </div>
      <div class="message-body">
        <p class="is-1"><strong>Contracted Front End Developer</strong></p>
        <p class="is-1">December 2017 - Feb 2018</p>
        Updated site layout, added new content, updated seo related content. Worked with internal design team to update website using html, css, jquery.
      </div>
    </article>
    <article class="message is-primary">
      <div class="message-header">
        <p>Pratt Industries</p>
      </div>
      <div class="message-body">
        <p class="is-1"><strong>Jr Full Stack Developer</strong></p>
        <p class="is-1">April 2015 - March 2018</p>
        Developed multiple web applications for clients including: Walmart, Public Storage, and Home Depot. Developed features and add ons for internal tools; added features to e-commerce platform.
        <br>
        <p class="is-1"><strong>Intern Full Stack Developer</strong></p>
        <p class="is-1">April 2014 - April 2015</p>
        Learned front end web development and data entry.
      </div>
    </article>
  </div>
</section>
<section id="skills" class="section">
	<div class="container">
	<h1 class="title is-1">My Skills</h1>
		<p class="subtitle">Technologies I use most frequently</p>
	</div>
</section>	
<section id="contact" class="section">
  <div class="container">
    <h1 class="title is-1">Contact Me</h1>
    <p class="subtitle">I like beer and coffee too</p>
    <form method="POST" name="Contact" data-netlify="true" style="max-width:960px; margin:0 auto;">
      
	  <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" name="Name" type="text" placeholder="Name">
        </div>
      </div>
      
	  <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" name="Email" type="email" placeholder="Email Address">
        </div>
      </div>

      <div class="field">
        <label class="label">Subject</label>
        <div class="control">
          <div class="select">
            <select name="Subject">
				<option>Website Work</option>
				<option>Full Stack Work</option>
				<option>I Want To Hire</option>
				<option>Other</option>
			</select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea name="Message" class="textarea" placeholder="Textarea"></textarea>
        </div>
      </div>
	  
      <div class="field">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
      </div>
	  
    </form>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Built</strong> by Cory Harkins - 2019.
    </p>
	  <p>
	  	<span class="icon">
		  <a href="https://twitter.com/harkins_cory" target="_blank"><i class="fab fa-twitter-square"></i></a>
	  	</span>
	        <span class="icon">
		  <a href="https://github.com/charkinsdevelopment" target="_blank"><i class="fab fa-github-square"></i></a>
	  	</span>
	  	<span class="icon">
		  <a href="https://www.linkedin.com/in/coryharkins" target="_blank"><i class="fab fa-linkedin"></i></a>
	  	</span>
	  </p>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.4.1.slim.js"
  integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
  crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-84021076-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-84021076-2');
</script>
	<script>
	Vue.component('portfolio-item', {
  props: ['item'],
  template:
    '<div class="tile is-parent"><article class="tile is-child box"><p class="title">{{ item.title }}</p><p class="subtitle">{{item.subtitle}}</p><div class="content">{{ item.description }}<p><br><a :href="item.link" class="button is-primary">Check me out</a></p></div><div class="tags"><span class="tag" v-for="tag in item.tags">{{tag}}</span></div></article></div>'
});


new Vue({ 
  el: '#portfolio', 
  data: {
    project_type: 'all',
    items:  [
      {id: 1, title: 'Listify.io', subtitle: 'Data converter', description: 'A conversion tool that transforms excel data into wrapped and comma separated data to port into sql.', link: 'https://codepen.io/charkins/pen/aPpaeK', tags: ['Front End', 'Html', 'Css', 'Jquery'], project_type: 'front_end'}, 
      {id: 2, title: 'Listify.io', subtitle: 'Data converter', description: 'A conversion tool that transforms excel data into wrapped and comma separated data to port into sql.', link: 'https://codepen.io/charkins/pen/aPpaeK', tags: ['Front End', 'Html', 'Css', 'Jquery'], project_type: 'front_end'},
      {id: 3, title: 'Back End Test', subtitle: 'Data converter', description: 'A conversion tool that transforms excel data into wrapped and comma separated data to port into sql.', link: 'https://codepen.io/charkins/pen/aPpaeK', tags: ['Front End', 'Html', 'Css', 'Jquery'], project_type: 'back_end'}, 
      {id: 4, title: 'Full Stack Test', subtitle: 'Data converter', description: 'A conversion tool that transforms excel data into wrapped and comma separated data to port into sql.', link: 'https://codepen.io/charkins/pen/aPpaeK', tags: ['Front End', 'Html', 'Css', 'Jquery'], project_type: 'full_stack'}
    ]
  },
  methods: {
    filter_projectType: function(project_type){
	this.project_type = project_type;
      }
  }
})
	</script>
</body>

</html>
